<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* Impostazione della dimensione della mappa */
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Mappa di Google</h1>

<div id="map"></div>

<!-- Script di Google Maps con la tua API Key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArFnhDZO3GD6sso3cs1jkSX5FQMCXO7fg&callback=initMap" async defer></script>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
